/* ------------------------------------------------------------------------------------------------

   Squarespace Core CSS Definitions DO NOT REPLACE.  DO NOT IMPORT THIS FILE.  All definitions are needed.
   Override as required from Custom CSS only!

------------------------------------------------------------------------------------------------ */

@media screen { 


/* --- core elements --------------------------------------------------------------------------- */

html { height: 100%; }
img { border: 0 none; -ms-interpolation-mode: bicubic; }
body { border: 0px; height: 100%; margin: 0px; padding: 0px; }
td { background: transparent; border: 0px; margin: 0px; padding: 0px; }
p { margin-bottom: 1em; margin-top: 0em; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0px; padding: 0px; }
ul { list-style-type: square; /* naturally. */ margin: 1em 0 1em; padding: 0; padding-left: 2em; }
form { margin:0; padding: 0; }

a { -moz-outline:none; } 
  
input.button, input.button[disabled] { font-size: 12px; padding: 2px 5px 3px 5px; -moz-outline: 0; }
input.button-important { font-size: 12px; padding: 2px 5px 3px 5px; -moz-outline: 0; font-weight: bold; }  
input.text, input.text-fixed, textarea, select { font: 8pt Arial, Tahoma, Verdana, Helvetica, sans-serif; }
input.text { width: 300px; }
input.text-fixed { width: 300px; }
textarea { height: 120px; }

.clearer { clear: both; line-height: 0; height: 0; }
.templateErrors { display: none; }

#bodyClearer { display: none; }

 
/* --- image defaults -------------------------------------------------------------------------- */

.thumbnail, .picture-full, .picture img, .thumbnail-image-float-left img, .thumbnail-image-float-right img, .thumbnail-image-float-none img { }
#main-picture-wrapper { line-height: 1px; }

     
/* --- core squarespace elements --------------------------------------------------------------- */

#sidebar2Wrapper { display: none; } 
#siteTitle, #pageFooterWrapper, #pageBodyWrapper { clear: both; } 
#canvasWrapper, #content, #sidebar1, #sidebar2 { overflow: hidden; }
#bannerWrapper { line-height: 0; }
#active-module-marker { display: none; }

.folder-link { -moz-outline: 0; }

.verticalNavigationBar .folder-open a.folder-link { background: transparent url(/universal/images/core-resources/icons/dark/folder-contract.png) center left no-repeat; padding-left: 15px; }
.verticalNavigationBar .folder-open ul { }
.verticalNavigationBar .folder-closed a.folder-link{ background: transparent url(/universal/images/core-resources/icons/dark/folder-expand.png) center left no-repeat; padding-left: 15px; }

.folder-closed .folder-wrapper ul { display: none; }

.horizontalNavigationBar { width: 800px; }
.horizontalNavigationBar .content-navigation { float: left; }
  
.horizontalNavigationBar .folder-open .folder-wrapper .module a { margin-left: 0; }
.horizontalNavigationBar .folder-open .folder-wrapper a.folder-link { }
.horizontalNavigationBar .folder-open .folder-wrapper { z-index: 999; } 
.horizontalNavigationBar .folder-open .folder-wrapper ul { display: block; position: absolute; } 
.horizontalNavigationBar .folder-open .folder-wrapper ul li { float: none; }

.horizontalNavigationBar .folder-wrapper ul { position:relative; z-index:999;  } /* ensures flash works properly in headers */
  
.horizontalNavigationBar ul { list-style-type: none; padding: 0; margin: 0; }
.horizontalNavigationBar ul li { float: left;  padding: 0; margin: 0; }
.horizontalNavigationBar ul li a { display: block; }
   
.error-box { background-color: #990000; color: #$ErrorColorOpposite$; padding: 15px; margin-top: 1em; }
.error-text, .error-text a:link, .error-text a:visited, .error-text a:active, .error-text a:hover { color: #990000; }
.input-with-error { border: 2px solid #990000 !important; }
.faded-text { color: #$InactiveTextColor$; }

.offsite-link {         background: transparent url(/universal/images/core-resources/icons/dark/open-off-site.png) center right no-repeat; padding-right: 13px; margin-right: 1px; }
.offsite-link-inline {  background: transparent url(/universal/images/core-resources/icons/dark/open-off-site.png) center right no-repeat; padding-right: 13px; margin-right: 1px; }
.folder-link-expand {   background: transparent url(/universal/images/core-resources/icons/dark/folder-expand.png) center center no-repeat;   padding: 0 6px 0 6px; line-height: 9px; font-size: 9px; cursor: pointer; }
.folder-link-contract { background: transparent url(/universal/images/core-resources/icons/dark/folder-contract.png) center center no-repeat; padding: 0 6px 0 6px; line-height: 9px; font-size: 9px; cursor: pointer; }


/* --- image floating / editor constructs ------------------------------------------------------ */

.thumbnail-image-float-left { float: left; margin: 0px 10px 8px 0px; }
.thumbnail-image-float-right { float: right; margin: 0px 0px 8px 10px; }
.thumbnail-image-block { display: block; }
.thumbnail-image-inline { display: inline; }
  
.thumbnail-image-float-left img, .thumbnail-image-float-right img , .thumbnail-image-float-none img { border: 1px solid #ccc; text-decoration: none; }

.full-image-float-left { float: left; margin: 0px 10px 8px 0px; }
.full-image-float-right { float: right; margin: 0px 0px 8px 10px; }
.full-image-block { display: block; }
.full-image-inline { display: inline; }
 
.full-image-float-left img, .full-image-float-right img , .full-image-float-none img { text-decoration: none; }

.thumbnail-caption { display: block; font-size: 9px; font-family: Verdana, sans-serif; line-height: 14px; padding-top: 5px; padding-bottom: 10px;  }
   

/* --- LEGACY constructs ----------------------------------------------------------------------- */

.sizeLess40 { font-size: 60%; }
.sizeLess20 { font-size: 80%; }
.sizeGreater20 { font-size: 120%; }
.sizeGreater40 { font-size: 140%; } 
.sizeGreater60 { font-size: 160%; }
.sizeGreater80 { font-size: 180%; }
.sizeGreater100 { font-size: 200%; }


/* --- squarespace document construction elements ---------------------------------------------- */

.document-heading { margin-bottom: 1.8em; }
.document-title { margin-bottom: .8em; }
.header { margin-bottom: 2em; }
.body { margin-bottom: 2em; margin-top: 1em; } 
.body-direct { margin-bottom: 2em; }
.footer { margin-top: 2em; clear: both; }
.field { margin-bottom: 1em; clear: both; }


/* --- squarespace form module components ----------------------------------------------------- */

.form-body { list-style-type: none; padding: 0; margin: 0; }

.form-body .fieldContainer {       padding: 5px 0px 5px 0px; margin: 0; clear: both; }
.form-body .fieldContainerActive { padding: 5px 0px 5px 0px; margin: 0; clear: both; }
.form-body .fieldContainerNew {    padding: 5px 0px 5px 0px; margin: 0; clear: both; }

.form-body .fieldTitle { font-weight: bold; padding-bottom: 3px; font-size: 12px; }
.form-body .fieldHelp { font-size: 9px; padding-top: 4px; }
.form-body .fieldObjects { }
.form-body .fieldRequiredStar { color: #990000; }
.form-body .fieldAugmentedLink { font-weight: normal; font-size: 9px; } 

.form-body .formTitle { font-weight: normal; font-size: 12px; padding-bottom: 1em; }
.form-body .formCaption { font-weight: bold; font-size: 12px; padding-bottom: 3px; line-height: 17px; }
.form-body .formErrorMessage { font-size: 12px; padding-top: 1em; }

.form-body .sectionBreak { padding-top: 4px; }
.form-body .optionRow { padding-top: 2px; }

.form-body .singlelinetext-small  { width: 100px; }
.form-body .singlelinetext-medium { width: 180px; }
.form-body .singlelinetext-large  { width: 340px; }

.form-body .singlelinetext-small-inline  { width: 94%; }
.form-body .singlelinetext-medium-inline { width: 94%; }
.form-body .singlelinetext-large-inline  { width: 94%; }

.form-body .paragraphtext-small  { height: 70px;  width: 94%; }
.form-body .paragraphtext-medium { height: 100px; width: 94%; }
.form-body .paragraphtext-large  { height: 200px; width: 94%; }
 
.form-body .paragraphtext-small-inline  { height: 70px;  width: 94%; }
.form-body .paragraphtext-medium-inline { height: 100px; width: 94%; }
.form-body .paragraphtext-large-inline  { height: 200px; width: 94%; }
  
.form-body #username, .form-body #password { width: 160px; }

.submit-button { width: 120px; margin-top: 2em !important; }

.verticalNavigationBar .notice-box input.submit-button { width: 100%; }

/* --- squarespace specifics ------------------------------------------------------------------- */

.journal-filter-header { margin-bottom: 15px; padding-bottom: 10px; }
.journal-navigation { margin-top: 2em; clear: both; }

.journal-comment-area { margin-top: 25px; padding-top: 15px; }
.journal-comment-area .caption { }
.journal-comment-area .text { }
.journal-comment-area-disabled-text { margin-top: 2em; }

.journal-reference-area { margin-top: 25px; padding-top: 15px; }
.journal-reference-area .caption { margin-bottom: 1em; }
.journal-reference-area .text { }

.journal-entry-navigation { margin-bottom: 2em; }

.journal-entry { margin-bottom: 2em; }
.journal-entry .title { }
.journal-entry .tag { clear: both; }
.journal-entry .body { margin: 1em 0 1em 0; }
.journal-entry .enclosure { background-image: url(/universal/images/core-resources/icons/dark/file.png); background-position: left center; background-repeat: no-repeat; padding-left: 24px; }

.journal-entry-follow-up { clear: both; margin-bottom: 1em; padding-left: 12px; } 
.journal-entry-follow-up .follow-up-caption { margin-bottom: 1em; }
.journal-entry-follow-up .follow-up-body { }
 
.journal-entry-references { margin: 15px 0 15px 0; padding: 0; list-style-type: none; }
.journal-entry-references li { margin: 0; clear: both; margin-bottom: 8px; height: 1%;  }
.journal-entry-references li .icon-area { float: left; width: 22px; }
.journal-entry-references li .text-area { margin-left: 22px; height: 1%;  }
.journal-entry-references li .text-area .headline { }
.journal-entry-references li .text-area .headline .type { font-weight: bold; }
.journal-entry-references li .text-area .headline .title { }
.journal-entry-references li .text-area .author-byline { font-size: 10px; line-height: 14px; margin: 2px 0 0 0; padding: 0; }
.journal-entry-references li .text-area .excerpt { font-size: 10px; line-height: 14px; margin: 2px 0 0 0; padding: 0; }
  
.journal-entry-tag .posted-in .tag-element, .journal-entry-tag .posted-on, .journal-entry-tag .posted-by, .journal-entry-tag .post-comments, .journal-entry-tag .post-references { white-space: nowrap; }

.journal-entry-tag-post-body { clear: both; }

.journal-entry-float-date, .journal-entry-float-date span { display: none; }
.journal-entry-float-day, .journal-entry-float-day span { display: none; }
.journal-entry-float-time, .journal-entry-float-time span { display: none; }
  
.journal-archive-set ul { margin-top: 1em; }

.unpublished { color: #$InactiveTextColor$; }

.amazon-item-list { padding: 0; }
.amazon-item-list li { list-style-type: none; margin-bottom: 10px; height: 1%; }
.amazon-item-list li .picture { float: left; overflow: hidden; }
.amazon-item-list li .description { height: 1%; margin-bottom: 15px; margin-left: 90px; }
.amazon-item-list li .description .authors { margin-bottom: 15px; } 
.amazon-item-list li .description .text { margin-bottom: 15px; }
.amazon-item-list li .description .amazon-link { }

.gallery-navigation { margin-bottom: 15px; margin-top: 15px; } /* compatibility */
.gallery-description { margin-top: 5px; clear: both; }

.gallery-navigation-top  { padding-bottom: 12px; text-align: left; }
.gallery-navigation-bottom  { padding-top: 12px; text-align: left; }

.picture-full { clear: both; }
 
#main-picture-description-title { padding-bottom: 1em; }

.picture-gallery-list { padding: 0; margin: 0; } 
.picture-gallery-list li { list-style-type: none; margin-bottom: 12px; height: 1%;  }
.picture-gallery-list li .thumbnail { }
.picture-gallery-list li .thumbnail-wrapper { display: inline-block; }
.picture-gallery-list li .thumbnail-wrapper a { display: block; }
.picture-gallery-list li .thumbnail-container { float: left; line-height: 0; }
.picture-gallery-list li .thumbnail-container-with-description, .picture-gallery-list li .thumbnail-container-tiled { line-height: 0; }
.picture-gallery-list li .description { } 
.picture-gallery-list li .description .caption { margin-bottom: 5px; }
.picture-gallery-list li .description .author { margin-bottom: 5px; margin-top: 5px; } 
.picture-gallery-list li .description .text {  }
.picture-gallery-list li .description ul { margin-top: 1em; }
.picture-gallery-list li .description ul li { list-style-type: square; display: list-item; }

.picture-gallery-thumbnail-list { padding: 0; margin: 0; }
.picture-gallery-thumbnail-list li { list-style-type: none; height: 1%; display: inline;  }
.picture-gallery-thumbnail-list li .thumbnail { display: inline; }
.picture-gallery-thumbnail-list li .thumbnail-container-tiled { float: left; margin-bottom: 12px; margin-right: 12px;  }
.picture-gallery-thumbnail-list li .thumbnail-container-with-description { float: left; margin-bottom: 12px;  }
.picture-gallery-thumbnail-list li .description { margin-bottom: 1em; height: 1%; overflow: hidden; }
.picture-gallery-thumbnail-list li .description ul { margin-top: 1em; }
.picture-gallery-thumbnail-list li .description ul li { list-style-type: square; display: list-item; }

.picture-gallery-thumbnail-scroll-right, .picture-gallery-thumbnail-scroll-left { background-color: #D6D6D6; width: 10px; height: 55px; margin: 0; padding: 0; border: 0; -moz-outline: 0 }
.picture-gallery-thumbnail-scroll-right { margin-left: 3px; }
.picture-gallery-thumbnail-scroll-left { margin-right: 3px; }

.file-item-list { padding: 0; }
.file-item-list li { list-style-type: none; margin-bottom: 10px;  height: 1%; clear: both; }
.file-item-list li .icon { float: left; display: block; line-height: 16px; }
.file-item-list li .content { height: 1%; margin-left: 24px; }
.file-item-list li .title { display: inline;  }

.folder-item-list { }
.folder-item-list li { margin-bottom: 1em; }

.link-group-list { padding: 0; }
.link-group-list li { list-style-type: none; margin-bottom: 1.5em; }
.link-group-list li ul { margin-top: 1em; }
.link-group-list li ul li { list-style-type: square; margin-bottom: .5em;  }
.link-group-list li ul li .title { }
.link-group-list li ul li .description { }
 
 /* V1 */
.discussion-comment-list { margin: 0; padding: 0;  }
.discussion-comment-list li { list-style-type: none; background: transparent url(/universal/images/core-resources/icons/dark/comment.png) no-repeat 0px 1px; padding-bottom: 10px; margin-top: 10px; padding-left: 24px; border-bottom: 1px solid #$LightBorderColor$;  }
.discussion-comment-list li:last-child { border: 0; margin-bottom: 0; padding-bottom: 0; }
.discussion-comment-list li .post-title { display: inline; }

 /* V2 */
 .discussion-table { width: 100%; }
.discussion-table .inline-icon { display: none; }

.discussion-table-header td { font-weight: bold; font-size: 12px; padding: 2px; }
.discussion-table-header .replycount-cell, .discussion-table-header .viewcount-cell { text-align: center; }
  
.discussion-table-row td { padding: 2px; }

.discussion-table-row .icon-cell { width: 22px; background: transparent url(/universal/images/core-resources/icons/dark/comment.png) no-repeat 1px 10px; }
  
.discussion-table-row .topic-cell { padding: 7px 0 5px 0; }
.discussion-table-row .topic-cell .topic-text { font-size: 14px; }
.discussion-table-row .topic-cell .topic-author { font-size: 11px; }
.discussion-table-row .topic-cell .topic-created { display: none; }
 
.discussion-table-row .replycount-cell { text-align: center; font-size: 26px; }
.discussion-table-row .viewcount-cell { text-align: center; }
  
.discussion-table-row .updated-cell { font-size: 10px; }
.discussion-table-row .updated-cell .reply-author { display: none; }

.discussion-table-header .viewcount-cell, .discussion-table-row .viewcount-cell { display: none; }
   
  
.comment { margin-top: 1em; padding-bottom: 1em; }
.comment .body { margin-top: 1em; }
.comment .signature { margin-top: .5em; text-align: right; }

.change-list { margin: 0; padding: 0; }
.change-list li { background: no-repeat 0px 1px; border-bottom: 1px solid #CCCCCC; display: block; list-style-type: none; margin: 0; margin-bottom: 1.2em; padding: 0; padding-bottom: 1.2em; padding-left: 28px; }
.change-list li:last-child { border: 0; margin-bottom: 0; padding-bottom: 0; }

.input-field { margin-bottom: 1em;  }
.input-field .title { margin-bottom: 5px; }
.input-field .control { }

.input-field-error { font-weight: bold; margin-bottom: 5px; }

.table .row { clear: both; } 
.table .left { float: left; margin: 5px; text-align: right; width: 100px; }
.table .right { margin-bottom: 5px; margin-left: 100px; }

.notice-box { margin-bottom: 2em; }
.notice-box .caption { display: inline; }
.notice-box .caption-text { margin-top: 1em; margin-bottom: 2em; }
.notice-box .link-field-title { font-weight: bold; padding-bottom: 10px; margin-top: 1em; }
.notice-box .link-field-text {  }

.notice-box textarea { width: 99%; }
  
.notice-box-alert { margin-bottom: 1em; padding: 1em; }
.notice-box-alert .icon { float: left; }
.notice-box-alert .text { height: 1%; margin-left: 22px; }

#squarespace-powered { padding: 0; }
#squarespace-powered-text { padding: 0; font-size: 80%; }

.search-form .queryFieldWrapper { display: block; float: left; }
.search-form .queryField { font-size: 18px; padding: 3px; }
.search-form .queryButtonWrapper { display: block; float: left; padding-left: 15px;  }
.search-form .queryButton { }
.search-form #advancedSearchOptionsLink { font-size: 9px; margin-top: 3px; }
.search-form .advanced-search-group-label { margin: 1em 0 1em 0; }

.search-results { margin-top: 2em; }
.search-result { margin-bottom: 20px; }
.search-result .search-result-number { display: none; float: left; font-size: 30px; }
.search-result .search-result-entry { }
.search-result .search-result-title { font-size: 18px; }

.search-result .search-result-tag { font-size: 10px; font-weight: normal; } 
.search-result .search-result-type { }
.search-result .search-result-author { }
.search-result .search-result-date { }

.search-result .search-result-body { margin-top: 4px; font-size: 12px; }

.search-result .search-result-title .hit-word-title { font-weight: bold; }
.search-result .search-result-body .hit-word-body { font-weight: bold; font-size: 120%; }
  
.faq-category-list { padding: 0; margin: 0; }
.faq-category-list li { list-style-type: none; margin-bottom: 20px; }
.faq-category-list li { }

.faq-question-list { margin-top: 1em; }
.faq-question-list li { list-style-type: square; margin-bottom: 6px; }
.faq-question-list li .title { } 
.faq-question-list li .description { margin-bottom: 15px; }

.faq-entry-count { font-size: 13px; }
.faq-entry .text { }
.faq-entry .tag { font-size: 10px; }

.google-map { width: 100%; height: 400px; }


/* --- journal summary ------------------------------------------------------------------------ */
 
.nugget-item-list-pt .slug-above { display: none; }
.nugget-item-list-pt .slug-below { display: none; }
.nugget-item-list-pt .summary-item-wrapper { float: left; overflow: hidden; height: 175px; width: 175px; margin: 15px 15px 0 0; text-align: left; }
.nugget-item-list-pt .summary-item{ padding: 15px; }
.nugget-item-list-pt .title { font-weight: bold; } 

.summary-item-list-pt .slug-above { display: none; }
.summary-item-list-pt .slug-above, .summary-item-list-pt .slug-below { font-size: 9px; }
.summary-item-list-pt .summary-item-wrapper {padding-bottom: 10px !important; display: block; }
.summary-item-list-pt .pre-date-breaker { display: none; }
.summary-item-list-pt .pre-comments-breaker { padding: 0 5px 0 5px; }
.summary-item-list-pt .title { font-weight: bold; }
.summary-item-list-pt .summary-item-wrapper.highlight .title { font-size: 22px; line-height: 24px; padding-bottom: 3px; }
.summary-item-list-pt .summary-item-wrapper.highlight { padding-bottom: 20px !important; }
.summary-item-list-pt .summary-item-wrapper.highlight .slug-above { display: block; }
.summary-item-list-pt .summary-item-wrapper.highlight .slug-below { display: none; }

/* --- tag clouds ----------------------------------------------------------------------------- */

.tagcloud-widget-wrapper { min-height:18px; }
.tagcloud a span { position:relative; display:inline-block; line-height:normal; }	
.tagcloud a:hover span { opacity:1 !important; }
				  
/* --- microblogging -------------------------------------------------------------------------- */
  
.quick-post .description { margin-top: 1em; }
.quick-post .embed { margin-top: 1em; }
.quick-post .image { margin: 1em 0 1em 0; }
.quick-post .dialogue { margin-top: 1em; }
  
.post-data-link .link-arrow, .post-data-delicious .link-arrow, .post-data-digg .link-arrow, .post-data-stumbleupon .link-arrow, .post-data-lastfm .link-arrow  { font-size: 80%; } 
  
.post-data-chat .dialogue .line { }
.post-data-chat .dialogue .line .speaker { display: block; }

.post-data-quote .source { display: inline; }
.post-data-quote .source p { display: inline; }

  
/* --- packed / quick posts ------------------------------------------------------------------ */
  
.packed-posts-wrapper { display: none; }
.packed-posts-wrapper .packed-post { padding-top: 10px; }

.quick-post .packed-post-date { }
.quick-post .packed-post-date-tight { margin-top: -12px; } 

.journal-quickpost-tag-post-body .stacked-link, .journal-quickpost-tag-post-body .initial-stacked-link { float: left; }

.quickpost-external-service-tag a { padding-left: 20px; background-repeat: no-repeat; background-position: center left; }
  
  
/* --- feeds ----------------------------------------------------------------------------------- */

.feed-list, .feed-list-inline { padding: 0; }
.feed-list li, .feed-list-inline li { list-style-type: none; margin: 0; padding: 0; }

.feed-list .feed-link { padding-left: 22px; background-image: url(/universal/images/xml/feed-icon-16x16-orange.png); background-repeat: no-repeat; background-position: center left; }
.feed-list-inline .feed-link { padding-left: 16px; background-image: url(/universal/images/xml/feed-icon-12x12-orange.png); background-repeat: no-repeat; background-position: center left; }

  
/* --- social links ---------------------------------------------------------------------------- */
  
.social-link-list-pt li {  display: block; }
.social-link-list-pt li a.icon-link { padding: 2px 0px 2px 20px; background-repeat: no-repeat; background-position: center left; background-size: 16px;}
  

/* --- social objects -------------------------------------------------------------------------- */

.twitter-update-wrapper .item-date, .digg-link-wrapper .item-date, .delicious-link-wrapper .item-date, .imported-rss-article-wrapper .item-date { display: block; }
.flickr-image-wrapper { display: block; float: left; line-height: 1px; }

/* --- social widgets ---------------------------------------------------------------------- */

/****** Twitter *******/
.twitter-wrapper { overflow: hidden; }
.twitter-wrapper .twitter-item-slug a, .twitter-wrapper .twitter-nav-buttons a { text-decoration:none; }
.twitter-wrapper a:active { outline:none; }

/****** Twitter Footer - Follow Me Links *******/
#canvas .twitter-link a { display:block; -moz-border-radius:4px; -webkit-border-radius:4px; }
.twitter-link img { float:left; width:16px; height:16px; margin-right:5px; }
.twitter-link img.avatar { width:14px; height:14px; border:1px solid #fff; }

/****** Twitter Widget Navigation *******/
.twitter-nav-buttons { clear:both; font-size:11px; line-height:1em; overflow:hidden; }
.twitter-wrapper .twitter-nav-buttons a { padding:10px 0; }
a.twitter-button-newer { display:block; float:left; }
a.twitter-button-older { display:block; float:right; }

/******** General *********/
.twitter-wrapper .primary, .twitter-wrapper .secondary .primary { overflow:hidden; }	
#canvas .twitter-wrapper.wrapper .twitter-date a, #canvas .twitter-wrapper.wrapper .twitter-date a:hover { display:block; } 	
.twitter-avatar { float:left; margin:0 0.9em 0 0; height:34px; }
.twitter-avatar img { width:30px; height:30px; border:2px solid #fff; }

/******** Basic Preset **********/
.basic .twitter-username a { font-weight:bold; font-size:1.2em; }
.basic .twitter-nav-buttons { padding:0 10px; margin:10px 0; -moz-border-radius:4px; -webkit-border-radius:4px; border:none; }

/********* Bubble Preset ***********/
.bubble .twitter-content { padding:15px 15px 0; margin-bottom:15px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.bubble .twitter-item-bubble { margin-top:15px; }
.bubble .twitter-item-bubble.highlight { margin-top:0; }
.bubble .twitter-item-content-bubble { background:#fff; color:#111; padding:1em; -moz-border-radius:8px; -webkit-border-radius:8px; overflow: hidden; }
.bubble .twitter-item-slug { background:url(/universal/images/social/bubble-stem.png) 22px top no-repeat; padding:22px 0 0; line-height:1.4em; }
.bubble .twitter-nav-buttons { padding:0 10px; margin:10px 0; -moz-border-radius:4px; -webkit-border-radius:4px; border:none; }
.bubble .twitter-content { padding:15px; margin-bottom:0; }

/*********** Blocks Preset ***********/
.block .twitter-content { margin-bottom:15px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.block .twitter-item { margin:0; }
.block .twitter-item-content { padding:1em; }
.block .twitter-item-slug { padding:10px; line-height:1.4em; }
.block .twitter-username a { font-weight:bold; }
.block .twitter-nav-buttons { padding:0 10px; margin:10px 0; -moz-border-radius:4px; -webkit-border-radius:4px; border:none; }
.block .twitter-content { margin-bottom:0; }

/******** Chunk Preset **********/
.chunk .twitter-content { margin-bottom:15px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.chunk .twitter-header { padding:10px; }
.chunk .twitter-avatar { height:44px; }
.chunk .twitter-avatar img { width:40px; height:40px; }
.chunk .twitter-name { font-weight:bold; font-size:15px; }
.chunk .twitter-username a {  font-size:11px; }
.chunk .twitter-item { padding:10px; margin-top:1px; }
.chunk .twitter-item.highlight { margin-top:0; }
.chunk .twitter-nav-buttons a { padding:10px; }

/******** Wrapper Preset ***********/
.wrapper .twitter-item { margin-bottom:10px; padding-bottom:15px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.wrapper .twitter-item-content { padding:1em; font-size:1.3em; line-height:1.6em; overflow:hidden; } 
.wrapper .twitter-item-slug { margin-right:15px; padding:10px; padding-left:15px; line-height:1.4em; }
.wrapper .twitter-name a { font-weight:bold; font-size:1.2em; }
.wrapper .twitter-nav-buttons { padding:0 10px; margin:10px 0; -moz-border-radius:4px; -webkit-border-radius:4px; }
	
	
/*** Flickr ***/

/*** Grid Preset ***/
.flickr-wrapper ul.flickr-grid, .flickr-wrapper ul.flickr-grid li { margin:0; padding:0; line-height:0; list-style:none; }
.flickr-wrapper { width:100%; }
.flickr-content { width:100%; }
.flickr-grid-wrapper { margin:0 auto; margin:0 auto; width:100%; }


/****** Flickr Footer - Photostream Link *******/
#canvas .flickr-link a { display:block; -moz-border-radius:4px; -webkit-border-radius:4px; }
.flickr-link img { float:left; width:16px; height:16px; margin-right:5px; }
.flickr-link img.avatar { width:14px; height:14px; border:1px solid #fff; }

/*** RSS Social ***/
.rss-wrapper a { display:block; }
.rss-wrapper .rss-description span a { display:inline; }

/*** Delicious ***/ 
.deli-wrapper-box { -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.deli-date-box span { display:inline-block; line-height:normal; }

.deli-tags-bubble a, .deli-tags-bubble-box a { display:inline-block; line-height:normal; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }

.deli-item-hang { position:relative; }
.deli-date-hang { position: absolute; top: 0; left: 0; }

#canvas .delicious-link a { display:block; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px; }
.delicious-link img { float:left; height:16px; margin-right:5px; width:16px; }

/*** Location ***/

.lw { overflow:hidden; border-radius: 6px; -moz-border-radius: 6px; }
.lw-map { padding: 17px; }
.lw-checkin { overflow: hidden; font-family: 'helvetica neue', lucida grande, arial, sans-serif; cursor: pointer; }
.lw-checkin-infowin { overflow: hidden; font-family: 'helvetica neue', lucida grande, arial, sans-serif; cursor: pointer; }
.lw-leftleft { float: left; width: 53px; padding-right: 17px; line-height: 1.2em; }
.lw-left { float: left; width: 32px; padding-right: 17px; }
.lw-venue-icon img { width: 32px; height: 32px; }
.lw-right { width: 65px; margin-left: 17px; float: right; text-align: right; }
.lw-main { margin-left: 49px; line-height: 1em; }
.lw-main.ni { margin-left: 0; }
.lw-main.dl { margin-left: 119px; }
.lw-main.dl.ni { margin-left: 70px; }
.lw-main.dr { margin-right: 82px; }
.lw-main.dr.ni { margin-left: 0; }
.lw-right .lw-date, .lw-leftleft .lw-date { display: inline-block; }
.lw-date-infowin { display: inline-block; color: #999999; font-size: 9px; line-height: 1.5em; }

#canvas .lw-slug a { display:block; -moz-border-radius:4px; -webkit-border-radius:4px; }
.lw-slug img { float:left; width:16px; height:16px; margin-right:5px; }
.lw-slug img.avatar { width:14px; height:14px; border:1px solid #fff; }

#canvas .lw-venue-name a, #canvas .lw-venue-name a:hover { font-weight: 300; -webkit-font-smoothing: antialiased; }
#canvas .lw-venue-name-infowin a, #canvas .lw-venue-name-infowin a:hover { font-weight: 300; -webkit-font-smoothing: antialiased; font-size: 14px; color: #333333; line-height: 1.2em; }

/* --- navigation bar elements ----------------------------------------------------------------- */

.content-passthrough .amazon-item-list-pt li { margin-bottom: 10px; }
.content-passthrough .amazon-item-list-pt .picture { float: none; margin: 0; margin-bottom: .5em; padding: 0; }
.content-passthrough .amazon-item-list-pt .description { margin: 0; }
.content-passthrough .amazon-item-list-pt .description .title { }
.content-passthrough .amazon-item-list-pt .description .authors { display: inline; }
.content-passthrough .amazon-item-list-pt .description .text { margin-top: .5em; }

.content-passthrough .change-list-pt { margin: 0; }
.content-passthrough .change-list-pt li { margin-bottom: .4em; }

.content-passthrough .archive-item-list-pt { margin: 0; margin-bottom: 1em; }
.content-passthrough .archive-item-list-pt li { margin-bottom: .4em; }

.content-passthrough .link-group-list-pt { margin-bottom: .5em;  }
.content-passthrough .link-group-list-pt li .title { font-weight: bold; }
.content-passthrough .link-group-list-pt li .description { }
.content-passthrough .link-group-list-pt li ul { margin-bottom: 10px;  }
.content-passthrough .link-group-list-pt li ul li { margin-bottom: 2px;  }
.content-passthrough .link-group-list-pt li ul li .title { font-weight: normal; }
.content-passthrough .link-group-list-pt li ul li .description { }

.content-passthrough .search-form-pt { height: 1%; }
.content-passthrough .search-form-pt .queryFieldWrapper { display: block; float: left; }
.content-passthrough .search-form-pt .queryField { font-size: 10px; padding: 3px; }
.content-passthrough .search-form-pt .queryButtonWrapper { display: block; float: left; padding-left: 10px;  }
.content-passthrough .search-form-pt .queryButton { }

#sidebar1 .content-passthrough .search-form-pt .queryField { width: 190px; }
#sidebar2 .content-passthrough .search-form-pt .queryField { width: -50px; }

.content-passthrough table.search-form-table { width:100%; border-collapse: collapse; }
.content-passthrough tr.search-form-row { vertical-align: middle; }
.content-passthrough td.search-form-cell {  }
.content-passthrough td.queryFieldCell {  }
.content-passthrough td.queryButtonCell { width: 1%; white-space: nowrap; }
.content-passthrough span.queryFieldWrapper { width: 100%; }
.content-passthrough span.queryButtonWrapper {  }
.content-passthrough input.queryField, .content-passthrough input.queryButton {  }
.content-passthrough input.queryField { width: 100% !important; height: 2.5em; }
.content-passthrough input.queryButton { width: auto; border: 0px; height: 2.5em;  }

.section ul { margin: 0; padding: 0; } 
.section ul li { list-style-type: none; margin: 0; padding: 0; }

.inline-icon { height: 16px; width: 16px; color:#FFF; opacity: 1; margin-right: 6px; vertical-align:middle; margin-top:-5px; }

.date-icon { background: transparent url(/universal/images/core-resources/icons/dark/date.png) top left no-repeat; }
.permalink-icon { background: transparent url(/universal/images/core-resources/icons/dark/permalink.png) top left no-repeat; }
.comment-icon { background: transparent url(/universal/images/core-resources/icons/dark/comment.png) top left no-repeat; }
.user-registered-icon { background: transparent url(/universal/images/core-resources/icons/dark/user-registered.png) top left no-repeat; }
.reference-icon { background: transparent url(/universal/images/core-resources/icons/dark/reference.png) top left no-repeat; }
.print-icon { background: transparent url(/universal/images/core-resources/icons/dark/print.png) top left no-repeat; }
.email-icon { background: transparent url(/universal/images/core-resources/icons/dark/email.png) top left no-repeat; }
.share-icon { background: transparent url(/universal/images/core-resources/icons/dark/share.png) top left no-repeat; }
.category-icon { background: transparent url(/universal/images/core-resources/icons/dark/category.png) top left no-repeat;  }
.tag-icon { background: transparent url(/universal/images/core-resources/icons/dark/category.png) top left no-repeat;  }

.social-link-controls .social-block-title { padding-bottom: 15px; font-family: Arial; letter-spacing: -1px; font-weight: bold; }
.social-link-controls .social-block { height: 22px; width: 155px; float: left; display: block; }
.social-link-controls { padding: 15px; height: 120px; border: 2px solid #ccc; font: 14px/16px Arial; background: #fefefe; color: #303030; text-align: left; }
.social-link-controls-wrapper { display: block; opacity: 0; filter:alpha(opacity=0); width: 350px; position: absolute; overflow: hidden;  }
     
/* --- standard button definitions ---------------------------------------------------------- */
  
a.button {
    background: transparent url(/universal/images/button/button-a.png) no-repeat scroll top right;
    color: #151515 !important;
    display: block;
    float: left;
    font: 12px arial, sans-serif !important;
    height: 24px !important;
    line-height: 18px  !important;
    margin-right: 6px !important;
    padding: 0 16px 0 0 !important;
    text-decoration: none !important;
}

a.important {
    font-weight: bold !important; 
}

a.button span {
    background: transparent url(/universal/images/button/button-span.png) no-repeat;
    display: block;
    line-height: 14px !important;
    padding: 5px 0 5px 18px !important;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    -moz-outline: 0;
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px !important;
}
  
}

/* --- post snippet definitions ---------------------------------------------------------- */

.journal-entry-tag-post-body-line1,
.journal-entry-tag-post-body-line2,
.journal-entry-tag-post-body-line3
{
    clear: both;
}

.post-snippet-1,
.post-snippet-2,
.post-snippet-3 
{
    float: left;
    padding-right: 12px;
}

/* --- printer stylesheet definitions ---------------------------------------------------------- */

@media print {

  body { background: white; font-size: 12pt; width: 100%; }
	
  h1 { font-size: 24pt; margin-bottom: 0; padding-bottom: 0; }
  .h1subtitle { font-size: 9pt; font-weight: normal; margin-bottom: 25px; border-bottom: 1px solid #ccc; padding-bottom: 10px; text-decoration: none; }
  #pageFooter { font-size: 9pt; margin-top: 28px; border-top: 1px solid #ccc; padding-top: 8px; }

  body div { width: 92%; }
  img { border: 0px; }
	
  a:link, a:visited { color: #520; background: transparent; font-weight: bold; text-decoration: underline; }
  strong { color: #000; }
  #siteTitle a:link, #siteTitle a:visited { color: black; background: transparent; font-weight: bold; text-decoration: none; }
  .journal-navigation, .horizontalNavigationBar, #sidebar1Wrapper, #sidebar2Wrapper #sidebar, .notice-box, .inline-icon, .journal-entry-navigation { display: none; }

}


.notice-box{padding-right: 15px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;}
h3, .h3, .form-body .formCaption{font-size: 15px; border-bottom: 1px dotted #E20045; font-weight: -; font-style: -; padding-top: 0px; padding-bottom: 9px; margin-bottom: 14px; color: #E20045; border-color: #E20045;}
.deli-tags{font-size: 10px;}
.rss-wrapper .rss-author{font-size: 10px;}
.deli-date{font-size: 11px;}
.discussion-table-row .replycount-cell{font-size: 26px;}
h2{font-size: 25px; text-transform: uppercase; text-align: left; font-weight: -; font-style: -; padding-top: 20px; padding-bottom: 20px; color: #E20045;}
.tagcloud-widget-wrapper a{line-height: 2em;}
.rss-wrapper .rss-item{margin-bottom: 20px;}
.squarespace-slideshow .squarespace-slideshow-container{background-color: #000000;}
.discussion-table-row .viewcount-cell{font-size: 16px;}
.discussion-table-row .topic-cell .topic-author{font-size: 11px;}
.post-data-chat .dialogue .line .speaker{font-weight: bold;}
.squarespace-slideshow .squarespace-slideshow-title{font-family: Helvetica; font-size: 16px; color: #FFFFFF;}
.post-data-quote .source{font-size: 16px; line-height: 18px; padding-left: 12px;}
.lw-location {font-size: 9px; color: #999999;}
.post-data-chat .dialogue .line{padding-bottom: 8px;}
.lw-checkin.highlight{border-color: transparent;}
.lw-desc{font-size: 11px; color: #898989;}
#contentWrapper{font-size: 14px; letter-spacing: 1px; font-weight: -; font-style: -; background-color: #FFFFFF;}
.deli-item-hang{border-bottom: 1px solid #DDDDDD; padding-left: 65px; padding-bottom: 10px; margin-bottom: 10px; border-color: #DDDDDD;}
#pageHeader{font-weight: -; font-style: -; padding-top: 30px; padding-bottom: 30px; background-color: transparent;}
.deli-date-hang{font-size: 11px;}
.lw-location{font-size: 9px; color: #999999;}
#pageFooterWrapper{font-weight: -; font-style: -;}
.squarespace-slideshow .squarespace-slideshow-description{font-family: Helvetica; font-size: 10px; line-height: 1.2em; color: #FFFFFF;}
.rss-wrapper{line-height: 1.5em;}
.discussion-table-row td{border-bottom: 1px solid #CCCCCC; padding-right: 2px; padding-left: 2px; padding-top: 2px; padding-bottom: 2px; border-color: #CCCCCC;}
.horizontalNavigationBar .active-module a{font-weight: -; font-style: -; color: #AF1C1C;}
.lw-date{font-size: 9px; line-height: 1.5em; color: #999999;}
.slide-indicator-box{padding-top: 10px;}
.slide-indicator-type-dotted a.slide-indicator.active{background-image: url(/universal/images/slideshow/selected.png);}
body{font-family: 'Terminal Dosis', 'sans-serif'; font-size: 13px; line-height: 1.8em; font-weight: normal; font-style: normal; margin-right: auto; margin-left: auto; background-color: #F7F7F7; color: #7D7D7D;}
.slide-indicator-type-dotted a.slide-indicator{line-height: 20px; background-image: url(/universal/images/slideshow/unselected.png); background-position: center center; background-repeat: no-repeat; float: left;}
.deli-tags-box{font-size: 10px; margin-top: 3px; color: #1D2E68;}
.rss-wrapper .rss-date{font-size: 10px;}
.lw-desc {font-size: 11px; color: #898989;}
.tagcloud-widget-wrapper a:link, .tagcloud-widget-wrapper a:visited{line-height: 2em;}
.lw-checkin{border-top: 1px solid #D5D5D5; padding-right: 20px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; border-color: #D5D5D5;}
.slide-indicator-type-paginated .slide-indicator-box a.slide-indicator{line-height: 20px; text-decoration: none; padding-right: 0.8em; padding-left: 0.8em; margin-right: 3px; margin-left: 3px; background-color: #CCCCCC; color: #000000; float: left;}
#canvasWrapper{font-weight: -; font-style: -; margin-right: auto; margin-left: auto; background-color: transparent;}
.rss-wrapper .rss-description{margin-right: 0px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;}
.journal-entry .title a{text-transform: capitalize; font-weight: -; font-style: -; color: #E20045;}
.discussion-table-row .topic-cell .topic-title{font-size: 14px;}
.twitter-wrapper .primary, .twitter-wrapper .secondary .primary{line-height: 1.5em; background-color: #AECADA; color: #333333;}
.deli-wrapper-box{text-decoration: none; padding-right: 20px; padding-left: 20px; padding-top: 20px; padding-bottom: 10px; background-color: #2865C0;}
.squarespace-slideshow .ffwd{background-image: url(/universal/images/slideshow/next-button.png); background-position: 50% 50%; background-repeat: no-repeat;}
.post-data-quote .quote{font-size: 36px; line-height: 40px;}
a:link, a:visited, a:active{font-weight: -; font-style: -; text-decoration: none; color: #E20045;}
.deli-item{border-bottom: 1px solid #DDDDDD; padding-bottom: 15px; margin-bottom: 15px; border-color: #DDDDDD;}
.twitter-wrapper .twitter-item-basic, .twitter-wrapper .twitter-item-basic{line-height: 1.5em; margin-bottom: 1em;}
.deli-item-box{border-bottom: 1px solid #1855b0; text-decoration: none; padding-bottom: 15px; margin-bottom: 15px; border-color: #1855b0;}
.lw-day-bar{font-size: 10px; padding-right: 20px; padding-left: 20px; padding-top: 8px; padding-bottom: 8px; background-color: #333333; color: #FFFFFF;}
.rss-wrapper .rss-source{font-size: 10px;}
.tagcloud-page-wrapper a{line-height: 2em;}
.deli-tags-bubble a{font-size: 9px; text-decoration: none; padding-right: 0.9em; padding-left: 0.9em; padding-top: 0.2em; padding-bottom: 0.25em; margin-right: 4px; margin-left: 0px; margin-top: 0px; margin-bottom: 3px; background-color: #3A7CDE; color: #EEEEEE;}
.discussion-table-row .topic-cell{padding-right: 0px; padding-left: 0px; padding-top: 7px; padding-bottom: 5px;}
.deli-desc-box{color: #68A5FF;}
#navigationBottom .horizontalNavigationBar{font-weight: -; font-style: -; padding-left: 0px;}
.discussion-table-header td{font-size: 12px; border-bottom: 1px solid #CCCCCC; font-weight: bold; padding-right: 2px; padding-left: 2px; padding-top: 2px; padding-bottom: 2px; border-color: #CCCCCC;}
.horizontalNavigationBar .module a{text-transform: capitalize; font-weight: -; font-style: -; padding-right: 19px; padding-top: 17px;}
#navigationTop .horizontalNavigationBar{text-align: right; font-weight: -; font-style: -; float: right;}
.squarespace-slideshow .frwd{background-image: url(/universal/images/slideshow/previous-button.png); background-position: 50% 50%; background-repeat: no-repeat;}
.twitter-wrapper .secondary, .twitter-wrapper .twitter-item .secondary{background-color: #6296AC; color: #FFFFFF;}
.lw-date {font-size: 9px; line-height: 1.5em; color: #999999;}
.lw{padding-top: 10px; padding-bottom: 10px; background-color: #EEEEEE;}
#pageFooter{font-weight: -; font-style: -; padding-left: 5px; padding-top: 7px; padding-bottom: 16px; background-color: transparent; color: #ABABAB;}
.deli-date-box-span{font-size: 9px; margin-right: 4px; margin-left: 0px; margin-top: 0px; margin-bottom: 5px; color: #EEEEEE;}
.lw-map{padding-right: 17px; padding-left: 17px; padding-top: 17px; padding-bottom: 17px;}
.discussion-table-row .updated-cell{font-size: 10px;}
#pageBody .twitter-date a, #pageBody .twitter-date a:hover{font-size: 10px;}
.deli-title-box a, .deli-title-box a:hover{font-size: 1.2em; color: #fff;}
.twitter-wrapper .twitter-link a, .twitter-wrapper .twitter-link a:hover{font-size: 11px; line-height: 1.4em; text-decoration: none; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 5px; background-color: #E7E7E7; color: #555555;}
.lw-slug a, .lw-slug a:hover{font-size: 11px; line-height: 1.4em; text-decoration: none; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; background-color: #E7E7E7; color: #555555;}
.twitter-wrapper.preset .twitter-item-content a, .twitter-wrapper.preset .twitter-item-content a:hover{text-decoration: none; background-color: transparent; color: #FFFFFF;}
.deli-tags-box a, .deli-tags-box a:hover{color: #243A84;}
#canvas .flickr-link a, #canvas .flickr-link a:hover{font-size: 12px; line-height: 16px; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; background-color: #E7E7E7; color: #444;}
.rss-wrapper .rss-title a, .rss-wrapper .rss-title a:hover{font-size: 14px; font-weight: bold;}
.deli-url, .deli-url a:hover{font-size: 10px;}
.rss-wrapper .rss-read-more a, .rss-wrapper .rss-read-more a:hover{font-size: 10px;}
.slide-indicator-type-paginated .slide-indicator-box a.slide-indicator.active, .squarespace-slideshow-indicator-wrapper.slide-indicator-type-paginated .slide-indicator-box a.slide-indicator.active:hover{background-color: #999999; color: #000000;}
#canvas .lw-venue-name a, #canvas .lw-venue-name a:hover{font-size: 16px; line-height: 1.2em; color: #333333;}
.delicious-link a, .delicious-link a:hover{font-size: 12px; line-height: 16px; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; background-color: #E7E7E7; color: #444444;}
.twitter-wrapper .twitter-item-bubble .twitter-item-content-bubble a, .twitter-wrapper .twitter-item-bubble .twitter-item-content-bubble a:hover{background-color: transparent; color: #6296AC;}
.deli-title a, .deli-title a:hover{font-size: 1.2em;}
.twitter-wrapper .secondary a, .twitter-wrapper .secondary a:hover{text-decoration: none; background-color: transparent; color: #FFFFFF;}
.deli-url-box a, .deli-url-box a:hover{font-size: 10px; color: #FFFFFF;}
.deli-tags-bubble a:hover{text-decoration: none; background-color: #5695F5; color: #FFFFFF;}
.slide-indicator-type-paginated .slide-indicator-box a.slide-indicator:hover{background-color: #D5D5D5; color: #000000;}
.lw-checkin:hover{background-color: #F6F6F6;}
a:hover{text-decoration: none; color: #616161;}


.promotedContainer, #navigationTop { display: none; } #navigationBottom { display: block; }

#canvasWrapper { width: 800px; padding: 0 0px 0 0px; } #sidebar1Wrapper { display: none; } #sidebar2Wrapper { display: none; } #contentWrapper { width: 800px; }

/* ===[ Basic Homepage Layout ]=== */


#login-form .form-body {
  margin-left:35px !important;}


#navigationBottom a { color:#58585A;} 
#navigationBottom a:active  { color:#000000 !important;} 
#navigationBottom a:hover { color:#E20045;} 
#navigationBottom  { width: auto; z-index:99;padding-left:385px; padding-bottom:0px; }

#pageHeader {
   position:relative;
}

/*
#pageBodyWrapper {

width: 800px;
  overflow: hidden;
}*/
.pageSection {
   height:1000px;
  padding-left:100px;
}

  
.list-journal-entry-wrapper{
  padding-top:10px;
  
}
.full-image-block {
 margin: 0px 0 20px 0;
}
/*
.full-image-block img,
.full-image-inline img,
.full-image-float-left img,
.full-image-float-right img  {
 max-width: 102%;
 -moz-border-radius: 3px; 
 -webkit-border-radius: 3px;
 border-radius: 3px;
}*/


/* navigation */

.nav {
   list-style: none;
   margin:0;
   padding:0;
   overflow: hidden;
}

.pageSection .nav li {
   width: 240px;
   float:left;
   margin:0px 60px 0px 0px;
   overflow: hidden;
   line-height: 1.25em;
}

.nav li.last {
   width:140px;
   float:left;
   margin:0;
}




/* Elegant 2 Col using li */


.twocols {
   list-style: none;
   margin-left:20px;
  margin-right:20px;
   padding-right:0px;
   overflow: hidden;
}

.twocols li {
   width:320px;
   float:left;
   margin:0px 0px 0px 0px;
  padding:30px 40px 0px 0px !important;
   overflow: hidden;
   line-height: 1.25em;
}

.twocols li.last {
   background-color:#ffffff;
  width:300px;
   float:left;
   margin:0;
}


/* Elegant 3 Col using li */

.threecols {
   list-style: none;
   margin-left:20px;
   margin-right:20px;
   overflow: hidden;
}

.threecols li {
   width:210px;
   float:left;
   margin:0px 0px 0px 0px;
  padding:30px 30px 30px 0px !important;
   overflow: hidden;
   line-height: 1.25em;
}

.threecols li.last {
   background-color:#ffffff;
   width:210px;
  padding-left:20px;
   float:left;
   margin:0;
}

/*five cols */
.fivecols {
   list-style: none;
   margin:0;
   padding:0;
   overflow: hidden;
}

.fivecols li {
   width:140px;
   float:left;
   margin:0px 0px 0px 0px;
  padding:0px 0px 5px 5px !important;
   overflow: hidden;
   line-height: 1.75em;
}

.fivecols li.last {
   background-color:#E20045;
   width:230px;
   float:left;
   margin:0;
}
.fivecols li h3 a {
  color:#DCDCDC}

.fivecols li a {
  color:#ffffff}

.fivecols .header {
  font-size:18px;
  color:#DCDCDC;
  text-align:left;
  text-transform:uppercase;}



/* General */

.pinkTxt {
   color: #E20045 !important;
}

.bodynormal {

  background-color: #FFFFFF !important;

  padding-left:30px;
  padding-right:30px;  
  padding-bottom:30px;
  padding-top:30px !important;
}


.bodyred {
  background-color: #E20045 !important;
  color:#ffffff;
/*margin-top:-20px !important;*/

  padding-left:30px;
  padding-right:30px;  
  padding-bottom:30px;
  padding-top:30px;
}


.bodygrey{
 
  background-color: #58585A !important;
  color:#ffffff;

  padding-left:30px;
  padding-right:30px;  
  padding-bottom:15px;
  padding-top:15px;
}

.bodyltgrey{
 
  background-color: #808080 !important;
  color:#ffffff;
  margin-top:0px;
  padding-left:30px;
  padding-right:30px;  
  padding-bottom:15px;
  padding-top:15px;
}
.canvas {
  background-color:#E9E8E8;}

.p { 
  margin-bottom:0px !important 
}






/* ===[ Header ]=== */

/*#navigationTop, #navigationBottom {
 width: 100%
}

#navigationTop .horizontalNavigationBar, #navigationBottom .horizontalNavigationBar {
 margin: 0 auto;
 width: 800px;
}*/

/* ===[ Top Navigation ]=== 

.horizontalNavigationBar .module a {
 box-shadow: 0px 0px 1px rgba(0,0,0,.1) inset;
 -moz-box-shadow: 0px 1px 0px rgba(0,0,0,.1) inset;
 -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,.1) inset;
 border-radius: 19px;
 -moz-border-radius: 19px;
}

.horizontalNavigationBar .module a:hover {
 text-shadow: 0 0px 0 rgba(0,0,0,1);
 box-shadow: 0px 0px 3px rgba(0,0,0,.1);
 -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
 -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
}

.horizontalNavigationBar .module.active-module a {
 text-shadow: 0 0px 0 rgba(0,0,0,1);
 box-shadow: 0px 0px 3px rgba(0,0,0,.1);
 -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
 -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
}

.horizontalNavigationBar .folder {
 border: 1px solid transparent;
 text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
 outline: none;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 -moz-transition: .5s;
 -webkit-transition: .5s;
 -o-transition: .5s;
 transition: .5s;
 -webkit-box-shadow: rgba(255, 255, 255, .5) 0 1px 0 inset, rgba(255, 255, 255, .4) 0 25px 30px -12px inset, rgba(0, 0, 0, .6) 0 1px 2px;
 -moz-box-shadow: rgba(255, 255, 255, .5) 0 1px 0 inset, rgba(255, 255, 255, .4) 0 25px 30px -12px inset, rgba(0, 0, 0, .6) 0 1px 2px;
 box-shadow: rgba(255, 255, 255, .5) 0 1px 0 inset, rgba(255, 255, 255, .4) 0 25px 30px -12px inset, rgba(0, 0, 0, .6) 0 1px 2px;
}

.horizontalNavigationBar .folder a {
 -moz-boder-radius: 0px;
 -webkit-border-radius: 0px;
 border-radius: 0px;
 background: transparent;
}

.horizontalNavigationBar .folder a:hover {
 text-shadow: 0px
}

*/

/* ===[ Sidebars ]=== */

.widget-wrapper { 
 margin-top: 0px; 
}

.widget-wrapper + .widget-wrapper { 
 margin-top: 40px; 
}

.section ul.archive-item-list-pt li .entry-count {
 display: none
}

#sidebar1 {
  padding-left:35px;
  padding-top:35px;
  padding-right:35px;

  background-color:#E9E8E8;
}


  
/* ===[ Journal ]=== */



.journal-entry-float-date,
.journal-entry-float-date span {
 display: block;
 
}

.journal-entry-float-date {
 float: left;
 margin-left: -110px;
 margin-top:3px; 
 width:50px;
 border: 1px solid transparent;
 text-shadow: 0 0 0;
  background-color:#E20045;

}

.journal-entry-float-date .year {
 display: none;
}

.journal-entry {
 margin-left: 110px;
 margin-right:80px;
 margin-top:75px; 
}

.journal-entry-text .title { text-align:left !important;
text-decoration:none !important;}


.journal-entry-float-date .month {
 display: block;
 width: 50px;
 text-align: center;
 color:#ffffff !important;
}

.journal-entry-float-date .date {
 display: block;
     text-align: center;
     color:#ffffff !important;
}

.paginationPageNumber {
 display: inline-block;
}


/* ===[ Search ]=== */


/* ===[ Send Email ]=== */

.widget-type-sendemailv2 input.text {
 font-family: inherit
}

.widget-type-sendemailv2 #formFieldContainer1 {
 display: none
}

.widget-type-sendemailv2 .paragraphtext-large-inline {
 height: 150px
}
/*
.widget-type-sendemailv2 .submit-button {
 width: 100%
}
*/
/* ===[ Forms ]=== */

.notice-box {
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.notice-box textarea {
 padding: 10px
}

.form-body .fieldTitle {
  margin-left:75px;}

.form-body .singlelinetext-medium {
 margin-left:75px;
  width: 50%;
    background:#FFFFFF ;
	padding:4px 4px 4px 22px;
	border:1px solid #CCCCCC;
	width:230px;
	height:18px;
}

.form-body .paragraphtext-large {
 padding: 0 30px 0 30px;
 width:50% ;
     margin-left:75px;
    
}

.form-body .formCaption, .formTitle {
  margin-left:75px;}
/* ===[ Microblog ]=== */

.post-data-link h2 a {
 color: #ffffff !important;
 border-radius: 3px;
 -moz-border-radius: 3px;

}

.chimpfieldObject {
 margin-left:0px;
  margin-top:10px;
  margin-bottom:10px;
    background:#FFFFFF ;
	padding:4px 4px 4px 22px;
	border:1px solid #CCCCCC;
	width:230px;
	height:18px;
  -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.chimp {
  margin-left:85px;
}

.chimp input.button {
  margin-left:0px;}
  
/* ===[ Squarespace Specific ]=== */

input.text,
textarea {
 border-radius: 3px;
 border-color:#dcdcdc; 
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
}

input.button {
   margin-left:75px;
 border: 10px solid transparent !important;
 text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
 outline: none;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
 border-radius: .3em;
 -moz-transition: .5s;
 -webkit-transition: .5s;
 -o-transition: .5s;
 transition: .5s;

}

a,
:-moz-any-link:focus {
 outline: none
}

a:link {
 -moz-transition-duration: 0.5s;
 -o-transition-property: all;
 -o-transition-duration: 0.5s;
 -webkit-transition-property: all;
 -webkit-transition-duration: 0.5s;
 transition-property: all;
 transition-duration: 0.5s;
}


.columnheading {
  
  font-size:17px;
  color:#E20045;
}

.page1h2 {
  
  font-size:25px;
  color:#ffffff;
  text-align:centre;
  text-transform:capitalize;
  
}

.button1 {
	z-index: 100;
	position: absolute;

        padding-top:64px;
        margin-left:700px;
}

/* contact Form Padding etc */
.formheader {
  
  background-color: #E20045 !important;
  color:#ffffff;
   padding-left:90px;
  margin-right:0px;
padding-top:35px;
  padding-right:20px;
  /* overflow: hidden; */
}

.formheader a {
  color:#ffffff;}
  


.formheader .h3white {
  font-size:18px;
  color:#ffffff;
padding-bottom:5px;
padding-top:15px;}
  
.formheader .h2white {
  font-size:30px;
  padding-bottom:5px;
  color:#ffffff;}
  

.journal-entry-navigation {
  
  padding-top:35px;
  padding-left:59px;
  font-size:120%;}

#modulePage17818557 .body { padding-top:35px;padding-left:55px;}

#modulePage17818557  .a  { color:#ffffff; !important}

.pageFooter {
  margin-bottom:20px;
}
